@model KhyberYouth.ViewModel.ProjectDetailsViewModel

@{
    ViewData["Title"] = "Project Details";
    var photoPath = "~/images/" + (Model.ImagePath ?? "placeholder.png");
}

<!-- Full Page Project Details View -->
<div class="blog-single gray-bg">
    <div class="container mt-lg-5 ">
        <div class="row offset-2">
            <!-- Project Content Section -->
            <div class="col-lg-10 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <!-- Project Image -->
                        <div class="article-img mb-3">
                            <img asp-append-version="true" src="@photoPath" class="img-fluid rounded" alt="Project Image" style="height:500px">
                        </div>

                        <!-- Project Title -->
                        <h2 class="widget-title">@Model.Name</h2>
                        <div class="row">
                            <div class="col-lg-4">
                                <p class="text-muted">Published on @Model.StartDate.ToString("dd-MM-yyyy") </p>
                            </div>
                            <div class="col-lg-4">
                                <p class="text-muted">End Date: @Model.StartDate.ToString("dd-MM-yyyy") </p>
                            </div>
                            <div class="col-lg-4">
                                <p class="text-muted">Status:  @Model.StartDate.ToString("dd-MM-yyyy") </p>
                            </div>
                        </div>
                        <hr>

                        <!-- Project Description -->
                        <blockquote class="blockquote">
                            <p>@Model.Description</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>