@model IEnumerable<KhyberYouth.Models.Project>

<div class="container p-3 mt-lg-5">
    <div class="row pt-4">
        <div class="col-9">
            <h3 class="text-warning">Projects</h3>
        </div>
        <div class="col-3 text-end">
            <a asp-action="Create" asp-controller="Projects" class="btn theme-color theme-btn theme-btn-hover">
                <i class="bi bi-plus-circle"></i> &nbsp; Add Project
            </a>
        </div>
    </div>

    <div class="row">
        @foreach (var project in Model)
        {
            var photoPath = "~/images/" + (project.ImagePath ?? "default-image.png"); 

            <div class="col-md-3 p-2">
                <div class="card" style="height:450px">
                    <img asp-append-version="true" src="@photoPath" class="card-img-top" alt="@project.Name" width="200" height="200" />
                    <div class="card-body">
                        <h5 class="card-title">@project.Name</h5>
                        <p class="card-text">
                            <strong>Description:</strong> @project.Description<br />
                            <strong>Start Date:</strong> @project.StartDate.ToString("dd-MM-yyyy")<br />
                            <strong>End Date:</strong> @project.EndDate.ToString("dd-MM-yyyy") ?? "Ongoing"<br />
                            <strong>Completed:</strong> @(project.IsCompleted ? "Yes" : "No")
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group w-100" role="group">
                            <a asp-action="Details" asp-route-id="@project.Id" class="btn btn-primary m-1">
                                <i class="fas fa-eye"></i> View
                            </a>
                            <a asp-action="Edit" asp-route-id="@project.Id" class="btn btn-info m-1">
                                <i class="fas fa-pen-to-square"></i> Edit
                            </a>
                            <a asp-action="Delete" asp-route-id="@project.Id" class="btn btn-danger m-1">
                                <i class="fas fa-trash-alt"></i> Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
