@model IEnumerable<KhyberYouth.Models.Brand>

<div class="container p-3 mt-lg-3">
    <div class="row">
        <div class="col-9">
            <h3 class="text-warning">Brand List</h3>
        </div>
        <div class="col-3 text-end">
            <a asp-action="Create" asp-controller="Brand" class="btn theme-btn">
                <i class="bi bi-plus-circle"></i> &nbsp; Add Brand Logo
            </a>
        </div>
        <hr />
    </div>
    <div class="row border border-warning mt-3 p-2">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var brand in Model)
                {
                    var photoPath = "~/images/" + (brand.ImagePath ?? "default-image.png");

                    <tr>
                        <td>@brand.Name</td>
                        <td>The Brand picture</td>
                        <td>
                            <img asp-append-version="true" src="@photoPath" alt="@brand.Name" width="50" height="50" class="bg-warning" />
                        </td>
                        <td class="text-center">

                            <a asp-action="Edit" asp-route-id="@brand.Id">  <i class="fas fa-pen-to-square"></i></a> |
                            <a asp-action="Details" asp-route-id="@brand.Id"> <i class="fas fa-eye text-info"></i></a> |
                            <a asp-action="Delete" asp-route-id="@brand.Id"> <i class="fas fa-trash-alt text-danger"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
