@model KhyberYouth.Models.BankAccountDetail

<div class="container my-5">
    <!-- Header Section -->
    <div class="text-center mb-4">
        <h2 class=" text-warning">Make a Donation</h2>

    </div>

    <!-- Donation Amount Section -->
    <div class="card col-md-10 offset-1 shadow mb-4 theme-color">
        <div class="card-body text-center">
            <h3 class="text-light ">Bank Account Details </h3>
            <div class="d-flex justify-content-center gap-3 mt-3">
                <h6 class="text-light">Your support helps us make a real difference in the lives of those in need.</h6>
            </div>
        </div>
    </div>

    <div class="card col-md-10 offset-1 shadow border border-warning p-lg-3">
        <table class="table table-striped table-warning table-hover border border-warning">
            <tbody class="p-0">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.AccountTitle)</th>
                    <td>@Html.DisplayFor(model => model.AccountTitle)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.AccountNumber)</th>
                    <td>@Html.DisplayFor(model => model.AccountNumber)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.IbanNumber)</th>
                    <td>@Html.DisplayFor(model => model.IbanNumber)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CurrencyType)</th>
                    <td>@Html.DisplayFor(model => model.CurrencyType)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.BankName)</th>
                    <td>@Html.DisplayFor(model => model.BankName)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.BranchCode)</th>
                    <td>@Html.DisplayFor(model => model.BranchCode)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.SwiftCode)</th>
                    <td>@Html.DisplayFor(model => model.SwiftCode)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.BankAddress)</th>
                    <td>@Html.DisplayFor(model => model.BankAddress)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ContactPhoneNumber)</th>
                    <td>@Html.DisplayFor(model => model.ContactPhoneNumber)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
