@model KhyberYouth.ViewModel.AboutDetailsViewModel

@{
    ViewData["Title"] = "Details";
    var mainImage = "~/images/" + (Model.ExistingMainImagePath ?? "placeholder.png");
    var founderImage = "~/images/" + (Model.ExistingFounderImagePath ?? "placeholder.png");
}

<div class="container container-fluid mt-lg-5">
    <div class="card shadow mb-4 theme-color col-md-10 offset-1">
        <div class="card-body text-center">
            <h4 class="text-light">About Section</h4>
        </div>
    </div>
    <div class="container col-md-10 offset-1 border border-warning shadow">
        <div class="row">
            <div class=" card-body col-md-6 mt-3">
                <div class="form-group col-md-6">
                    <img asp-append-version="true" src="@mainImage" alt="Media Image" width="250" />
                </div>
                <div class="card-footer m-3">
                    <p>Main Section Image</p>
                </div>
            </div>
            <div class=" card-body col-md-6 mt-3">
                <div class="form-group col-md-6">
                    <img asp-append-version="true" src="@founderImage" alt="Media Image" width="250" />
                </div>
                <div class="card-footer">
                    @Html.DisplayFor(model => model.FounderName)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">

                <div class="p-4">
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.SectionTitle)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.SectionTitle)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Subtitle)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Subtitle)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.FounderName)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.FounderName)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.FounderTitle)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.FounderTitle)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.DescriptionTitle)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.DescriptionTitle)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                    </dl>

                </div>
            </div>
        </div>
        <div class="form-group m-2">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn theme-btn">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
