@model IEnumerable<KhyberYouth.Models.Project>
 @* @model KhyberYouth.Models.PaginatedList<Project> *@

<!-- Header Section -->
<header class="theme-color text-white text-center py-5">
    <h3>Khyber Youth Welfare Organization</h3>
    <h4>Project List</h4>
</header>

<div class="container">
    <section class="py-3 py-md-5">
        <section class="blog-single">
            <div class="container mt-lg-2">
                <div class="row">
                    <div class="row col-lg-10 offset-1">
                        @foreach (var project in Model)
                        {
                            <div class="col-md-4">
                                <div class="card mt-lg-3">
                                    <img src="~/images/@project.ImagePath" class="card-img-top img-fluid" style="height:200px; width:300px">
                                    <div class="card-body">
                                        <h5 class="card-title">@project.Name</h5>
                                        <p>
                                            @{
                                                var text = project.Description;
                                                var readMore = text.Length > 50 ? text.Substring(0, 50) + "..." : text;
                                            }
                                            @readMore
                                        </p>
                                        <a asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id" class="btn theme-btn">View Details</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                </div>
        </section>
        </section>
</div>





@* 
<div class="container">
    <section class="py-2">

        @await Component.InvokeAsync("AllProject")

        <div class="mt-lg-5 col-lg-10 offset-1">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

            <a asp-action="AllProject"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               class="btn btn-default @prevDisabled">
                Previous
            </a>
            <a asp-action="AllProject"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               class="btn btn-default @nextDisabled">
                Next
            </a>
        </div>

    </section>
</div> *@
