@model IEnumerable<KhyberYouth.Models.BankAccountDetail>


<div class="container-fluid">
    <div class="row pt-4">
        <div class="col-9">
            <h3 class="text-warning">Bank Account Details</h3>
        </div>
        <div class="col-3 text-end">
            <a asp-action="Create" asp-controller="BankAccountDetails" class="btn theme-btn">
                <i class="bi bi-plus-circle"></i>   Add New Account
            </a>
        </div>
        <hr />
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Account Title</th>
                    <th>Account Number</th>
                    <th>IBAN Number</th>
                    <th>Currency Type</th>
                    <th>Bank Name</th>
                    <th>Branch Code</th>
                    <th>Swift Code</th>
                    <th>Bank Address</th>
                    <th>Contact</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.AccountTitle</td>
                        <td>@item.AccountNumber</td>
                        <td>@item.IbanNumber</td>
                        <td>@item.CurrencyType</td>
                        <td>@item.BankName</td>
                        <td>@item.BranchCode</td>
                        <td>@item.SwiftCode</td>
                        <td>@item.BankAddress</td>
                        <td>@item.ContactPhoneNumber</td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@item.Id">  <i class="fas fa-pen-to-square"></i></a> |
                            <a asp-action="Details" asp-route-id="@item.Id"> <i class="fas fa-eye text-info"></i></a> |
                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt text-danger"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
