@model IEnumerable<KhyberYouth.Models.Banner>

<div class="container p-3 mt-lg-5">
    <div class="row pt-4">
        <div class="col-9">
            <h3 class="text-warning">Banner List</h3>
        </div>
        <div class="col-3 text-end">
            <a asp-action="Create" asp-controller="Banner" class="btn theme-btn">
                <i class="bi bi-plus-circle"></i> &nbsp; Add Brand Logo
            </a>
        </div>
    </div>

    <div class="row">
        @foreach (var banner in Model)
        {
            var photoPath = "~/images/" + (banner.ImagePath ?? "default-image.png");

            <div class="col-md-3 p-2">
                <div class="card">
                    <img asp-append-version="true" src="@photoPath" class="card-img-top" alt="@banner.Name" width="200" height="250" />
                    <div class="card-body">
                        <h5 class="card-title">@banner.Name</h5>
                        <p class="card-text">
                            The Brand picture
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group w-100" role="group">
                            <a asp-action="Details" asp-route-id="@banner.Id" class="btn btn-primary m-1">
                                <i class="fas fa-eye"></i> View
                            </a>
                            <a asp-action="Edit" asp-route-id="@banner.Id" class="btn btn-info m-1">
                                <i class="fas fa-pen-to-square"></i> Edit
                            </a>
                            <a asp-action="Delete" asp-route-id="@banner.Id" class="btn btn-danger m-1">
                                <i class="fas fa-trash-alt"></i> Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
